.mainSec {
  left: 50%;
  top: 8rem;
  transform: translateX(-50%);
  position: absolute;
}
.buttons {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.button,
.buttonAdd,
.buttonDelete {
  font-weight: 800;
  height: auto;
  width: auto;
  font-size: .9rem;
  padding: 0.8rem 1.3rem 0.8rem 1.3rem;
  margin: 0.5rem;
  background: rgb(68, 180, 255);
  color: #00529e;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  outline: 0;
  transition: all ease-in-out 0.2s;
}
.button:hover,
.buttonAdd:hover,
.buttonDelete:hover {
  transform: scale(1.1);
}
.buttonAdd {
  color: #005e1c;
  background: rgba(98, 255, 124, 0.5);
}
.buttonDelete {
  color: #ff5e00;
  background: rgba(255, 136, 0, 0.5);
}
.mainTable {
  border-spacing: 0 15px;
  font-size: 1.2rem;
  padding: 1rem;
}
.mainTable th,
td {
  padding: 0.8rem;
}
.mainTable tr {
  box-shadow: 0px 0px 10px -4px #000000;
}
.mainTable tr:nth-child(even) {
  background: rgb(243, 243, 243);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.navbar div:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
